
@media (max-width: 767px) {
  .mobileVisible {
    display: block;
  }

  .mobileHidden {
    display: none;
  }

  .drawer .ant-drawer-body {
    padding: 0;
    background-color: #212A2F;
    color: white;
  }

  .drawer p {
    margin: 16px;
    font-size: 18px;
    cursor: pointer;
    color: white;
  }

  .mobileVisible .ant-btn-primary {
    background-color: #212A2F;
    border: none;
    color: white;
    font-size: 18px;
    padding: 10px;
    border-radius: 8px;
    margin-left: 60px;
  }

  .mobileVisible .ant-btn-primary:hover {
    background-color: grey;
    color: #444;
  }

  .mobileVisible .ant-btn-primary:focus {
    background-color: #212A2F;
    color: rgb(250, 248, 246);
  }
}

@media (min-width: 768px) {
  .mobileVisible {
    display: none;
  }

  .mobileHidden {
    display: block;
  }
}

.header {
  display:flex;
  align-items: center;
  background-color:#212A2F;
  padding: 0px;
  margin-left: -8px;
  border-radius:none;
  margin-right: -8px;
  height: 90px;
  margin-top:-8px;
  position: sticky;
}

.header__first > img{
width:100px;
height:60px;
padding-right:px;
margin: 60px ;
margin-right: 10px 20px;

}
.header__first > img:hover {
  
  transition: transform 0.5s ease; 
  transform: scale(1.2); 
}
.header__second input {
padding: 4px;
outline: none;
border: 1px solid hsl(0, 2%, 49%);
background-color: #212A2F;
border-radius: 6px;
width: 250px;
font-size: 25px;
margin-left:-34px;    
align-items: center;
justify-content: center;
}
.header__second .MuiSvgIcon-root {
color: hsl(0, 2%, 49%);
margin-bottom: -5px;
margin-left:-30px;  
cursor: pointer;
}
.header__third {
display: flex;
gap: 15px;
justify-content: center;
align-items: center;
margin-left:100px;
margin-bottom: -30px;
}

.header__third p {
margin: 0px;
font-size: 18px;
color:white;
cursor: pointer;
}

.header__fourth{
display: flex;
margin-left: 680px;
gap: 10px;
cursor: pointer;


}

.header__fourth1 {
padding: 10px;
box-sizing:border-box;
border-color:rgb(255, 94, 0); 
background-color:#212A2F;
color:rgb(255, 94, 0);
outline:none;
font-weight: bold;
border-radius: 5px;
cursor: pointer;

}
.header__fourth2{
box-sizing: border-box;
padding: 10px;
background-color:rgb(255, 94, 0) ;
border-radius: 5px;
font-weight: bold;
cursor: pointer;
color: #212A2F;
}
.header__fourth2:hover {
background-color:rgb(255, 126, 51);
}
.h2{
display:flex;
margin: -15px;
}
.h2{
padding: 0px;
margin-left:-8px;
margin-right:-8px; 
outline:none;
background-color:rgb(194, 116, 48);
color:white; 
text-align: center;

}
.chai{
margin-top: -0px;
font-weight:600;
margin-left:50px;
font-size:35px;
align-items: center;
padding:-5px;
line-height:3.8;

}




